resource_registry:
  OS::TripleO::ControllerExtraConfigPre: /usr/share/openstack-tripleo-heat-templates/puppet/extraconfig/pre_deploy/controller/neutron-bigswitch.yaml

parameters:
  controllerExtraConfig:
    neutron_ovs_use_veth: true
  NeutronMechanismDrivers: openvswitch,bsn_ml2

parameter_defaults:
  NeutronBigswitchRestproxyServers: 192.0.2.100:8000
  NeutronBigswitchRestproxyServerAuth: admin:passwd
